<div class="container">
<h3>Review Details</h3>

<p>Product ID: <%= @review.ProductId %> </p>
<p>Author: <%= @review.Author %> </p>
<p>Product Rating: <%= @review.ProductRating %> </p>
<p>Review Text: <%= @review.ReviewText %> </p>
<p>Date of Review: <%= @review.DateofReview %> </p>
</div>