<div class="container">
<h3>Review Details</h3>

<p>ProfileID: <%= @review.ProfileId %> </p>
<p>ProductID: <%= @review.ProductId %> </p>
<p>Author: <%= @review.Author %> </p>
<p>ProductRating: <%= @review.ProductRating %> </p>
<p>ReviewText: <%= @review.ReviewText %> </p>
<p>DateofReview: <%= @review.DateofReview %> </p>
</div>