<div class="container">
<%= form_tag search_products_path, method: :get do %>
    <%= text_field_tag :term, nil, placeholder: 'Search Products', class: 'form-control' %>
    <%= submit_tag "Search", class: 'btn btn-default' %> 
    <% end %>
<h1> Products Available </h1>
<table border="1" class="table">
<tr>
<th>Product Name</th>
<th>Product Brand</th>
<th>Product Cost</th>
<th>Product Category</th>
<th>Product Date</th>
<th>Product Description</th>
<th>Product Photo</th>
</tr>
<% @products.each do |product| %>
<tr>
<td> <%= product.pName %> </td>
<td align="center"> <%= product.pBrand %> </td>
<td align="center"> <%= product.pCost %> </td>
<td align="center"> <%= product.pCategory %> </td>
<td align="center"> <%= product.pDate %> </td>
<td> <%= product.pDescription %> </td>
<td> <%= product.pPhoto %> </td>
<td> <%= link_to 'Product Page', product_path(product) %> </td>
</tr>
<% end %>
</table>
</div>