<div class="container">
<h3>Product Details</h3>

<p>Product Name: <%= @product.pName %> </p>
<p>Product Brand: <%= @product.pBrand %> </p>
<p>Product Cost: <%= @product.pCost %> </p>
<p>Product Category: <%= @product.pCategory %> </p>
<p>Product Date: <%= @product.pDate %> </p>
<p>Product Desription: <%= @product.pDescription %> </p>
<p>Product Photo: <%= @product.pPhoto %> </p>
</div>