<div class="container">
<h1> Profiles Available </h1>
<table border="1" class="table">
<tr>
<th>Name</th>
<th>Date of Birth</th>
<th>Address</th>
<th>City</th>
<th>Country</th>
<th>Photo</th>
</tr>
<% @profiles.each do |profile| %>
<tr>
<td align="center"> <%= profile.Name %> </td>
<td align="center"> <%= profile.DoB %> </td>
<td> <%= profile.Address %> </td>
<td align="center"> <%= profile.City %> </td>
<td align="center"> <%= profile.Country %> </td>
<td> <%= profile.Photo %> </td>
<td> <%= link_to 'Profile Page', profile_path(profile) %> </td>
<td> <%= link_to 'Edit Profile', edit_profile_path(profile) %> </td>
</tr>
<% end %>
</table>
</div>