<div class="container">
<h3>Profile Details</h3>

<p>Name: <%= @profile.Name %> </p>
<p>DateofBirth: <%= @profile.DoB %> </p>
<p>Address: <%= @profile.Address %> </p>
<p>City: <%= @profile.City %> </p>
<p>Country: <%= @profile.Country %> </p>
<p>Photo: <%= @profile.Photo %> </p>
</div>